body {
    background-color: #d9d9d9;
    font-family: "Poppins";
}

/* Sidebar Styles */
.sidenav {
    height: 100%;
    width: 175px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FBFBFB;
    padding-top: 20px;
}

.sidenav img {
    width: 100%; /* Make logo responsive */
    height: auto;
    border-radius: 100%;
    margin: -50px -10px 20px;
}

.sidenav a, .sidenav .active {
    padding: 6px 32px;
    margin-bottom: 25px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidenav .active {
    color: #0b62f8c1; /* Active link color */
}

.sidenav a:hover, .sidenav .active:hover {
    color: #121111;
}

.add-request-button {
    padding: 5px 10px;
    margin-top: 250px;
    margin-left: 35px;
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #C8161E;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

/* Main Content Styles */
.main {
    margin-left: 195px; /* Same as the width of the sidenav */
}

.input-fields {
    margin: 20px 0;
}

.box {
    height: 30px;
    width: 170px;
    margin: 5px 40px 5px 0;
    background-color: #fff;
    border: none;
}

.box::placeholder {
    color: #13131348;
    opacity: 1;
}

/* Records Overview */
.square {
    height: 630px;
    width: 1220px;
    padding: 30px;
    border-radius: 3%;
    background-color: #547aacbc;
}
  
.square table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 10px;
}

.header-row {
    background-color: #ffffffb9; /* Background color of the header row */
}

.header-row th {
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    border: none; /* Remove borders between header cells */
}

.header-row th:first-child {
    border-top-left-radius: 10px; /* Smooth corners for the left side */
    border-bottom-left-radius: 10px;
}

.header-row th:last-child {
    border-top-right-radius: 10px; /* Smooth corners for the right side */
    border-bottom-right-radius: 10px;
}

.data-row:nth-child(odd) {
    background-color: #ffffffa6; /* Lighter color for odd rows */
}

.data-row:nth-child(even) {
    background-color: #a0afd6; /* Darker color for even rows */
}

.data-row {
    min-height: 50px;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    border: none;
}
    
.data-row td:first-child {
    border-top-left-radius: 7px; /* Smooth corners for the left side */
    border-bottom-left-radius: 7px;
}

.data-row td:last-child {
    border-top-right-radius: 7px; /* Smooth corners for the right side */
    border-bottom-right-radius: 7px;
}


/* Media Queries */
@media screen and (max-height: 450px) {
    .sidenav { padding-top: 15px; }
    .sidenav a { font-size: 18px; }
}
