:root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(240, 10%, 3.9%);
    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(240, 10%, 3.9%);
    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(240, 10%, 3.9%);
    --primary: hsl(142.1, 76.2%, 36.3%);
    --primary-foreground: hsl(355.7, 100%, 97.3%);
    --secondary: hsl(240, 4.8%, 95.9%);
    --secondary-foreground: hsl(240, 5.9%, 10%);
    --muted: hsl(240, 4.8%, 95.9%);
    --muted-foreground: hsl(240, 3.8%, 46.1%);
    --accent:  hsl(214, 35%, 50%);
    --accent-foreground: hsl(0, 0%, 100%);
    --accent-muted: hsl(214, 60%, 53%,0.4);
    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(0, 0%, 98%);
    --border: hsl(240, 5.9%, 90%);
    --input: hsl(240, 5.9%, 90%);
    --ring: hsl(142.1, 76.2%, 36.3%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
body {
    background-color: var(--background);
    font-family: "Poppins";
    color: white;
   
}

h1 {
font-size: 3rem;
font-weight: 900;
}

h2{
    font-size: 2.5rem;
    font-weight: 700;
}

h3{
    font-size: 2rem;
    font-weight: 600;
}
p{
    font-size: 1.5rem;
}

button{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

